/* RT#480364: ensure that the arrows show properly */
.vco-slider .nav-next:hover,
.vco-slider .nav-previous:hover {
  background-color: rgba(0,0,0,0.65);
}

.vco-slider .nav-next:hover .icon {
  background-position: -232px 0;
}

.vco-slider .nav-previous:hover .icon {
  background-position: -208px 0;
}
/* End RT#480364 */

#timelinejs-embedded-timeline-timeline-page .vco-storyjs {
  z-index: 0;
}

.view-embedded-timeline .vco-storyjs .vco-feature h1,
.view-embedded-timeline .vco-storyjs .vco-feature h2,
.view-embedded-timeline .vco-storyjs .vco-feature h3,
.view-embedded-timeline .vco-storyjs .vco-feature h4,
.view-embedded-timeline .vco-storyjs .vco-feature h5,
.view-embedded-timeline .vco-storyjs .vco-feature h6 {
  font-family: verdana, geneva, sans-serif;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  color: #000000;
}

.view-embedded-timeline .vco-storyjs .vco-feature h2,
.view-embedded-timeline .vco-storyjs .vco-feature h3,
.view-embedded-timeline .vco-storyjs .vco-feature h4,
.view-embedded-timeline .vco-storyjs .vco-feature h5,
.view-embedded-timeline .vco-storyjs .vco-feature h6 {
  font-weight: bold;
  clear: both;
}

.view-embedded-timeline .vco-storyjs .vco-feature h3 {
  font-size: 1.2em;
  color: #111;
  margin-bottom: .8em;
  text-align: center;
}

.view-embedded-timeline .vco-slider .nav-previous .date,
.view-embedded-timeline .vco-slider .nav-next .date {
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  text-transform: none;
  color: #fff;
}

.view-embedded-timeline .vco-slider .nav-previous .title,
.view-embedded-timeline .vco-slider .nav-next .title {
  font-size: 14px;
  line-height: 15px;
  color: #fff;
}

.view-embedded-timeline .vco-storyjs p,
.view-embedded-timeline .vco-slider .slider-item .content .content-container .text .container p,
.view-embedded-timeline .vco-storyjs blockquote,
.view-embedded-timeline .vco-storyjs blockquote p,
.view-embedded-timeline .vco-storyjs .twitter blockquote p {
  font-family: verdana, geneva, sans-serif !important;
}

.vco-skinny.vco-notouch .vco-slider .nav-previous:hover .nav-container .date,
.vco-skinny.vco-notouch .vco-slider .nav-next:hover .nav-container .date,
.vco-skinny.vco-notouch .vco-slider .nav-previous:hover .nav-container .title,
.vco-skinny.vco-notouch .vco-slider .nav-next:hover .nav-container .title {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.vco-slider .slider-item .content .content-container .text .container h2.date,
.vco-slider .slider-item .content .content-container .text .container p {
  text-align: center;
}
